<form id="welcome">
  <p>Welcome <span id="welcome-name"></span>.</p>
  <p>You have logged in <span id="welcome-count"></span> times.</p>
  <button type="button" onclick="showMain()">Log out</button>
</form>

<form id="main">
  <p id="msgbox">Please enter your credentials below</p>
  Username: <input type="text" id="name" name="username"><br>
  Show Password: <input type="checkbox" id="showHide">
  Password: <input type="password" id="pw" name="password"><br>
  <button type="button" onclick="ajaxCaller(showWelcome, 'login', 'POST')">Login</button>
  <button type="button" onclick="ajaxCaller(showWelcome, 'signup', 'POST')">Add User</button>
  <p id="nameerror"></p>
  <p id="pwerror"></p>
</form>

<script>
function makeinput(){
  var name = document.getElementById("name").value;
  var pw = document.getElementById("pw").value;
  return "username="+name+"&password="+pw;
}
function showWelcome(xhr){
  response = JSON.parse(xhr.responseText);

  if(response['error_code'] == -4){
    document.getElementById("msgbox").innerHTML = "Invalid username and password combination. Please try again.";
    return;
  }
  else if(response['error_code'] == -3){
    document.getElementById("msgbox").innerHTML = "This user name already exists. Please try again.";
    return;
  }
  else if(response['error_code'] == -2){
    document.getElementById("msgbox").innerHTML = "The password should be 8~20 characters long. Please try again.";
    return;
  }
  else if(response['error_code'] == -1){
    document.getElementById("msgbox").innerHTML = "The user name should be 5~20 characters long. Please try again.";
    return;
  }
  else{
    document.getElementById("welcome-name").innerHTML = response['username'];
    document.getElementById("welcome-count").innerHTML = response['login_count'];
  }

  document.getElementById("welcome").style.display="block";
  document.getElementById("main").style.display="none";
}

function showMain(){
  document.getElementById("welcome").style.display="none";
  document.getElementById("main").style.display="block";
}

function ajaxCaller(displayfunc, url, method){
  var xhr = new XMLHttpRequest();
  xhr.onreadystatechange = function(){
    if(xhr.readyState == 4 && xhr.status == 200){
    //success communication then display
      displayfunc(xhr);    
    }
  }
  xhr.open(method, url, true);
  xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
  xhr.send(makeinput());
}

function checkName(){
  var name_message="";
  var name = document.getElementById("name").value;

  if(isNaN(name) || name.length < 5 || name.length > 20){
    name_message="The user name should be 5~20 characters long. Please try again.";
  }

  if(name != ""){
    document.getElementById("nameerror").innerHTML = name_message;
  }
}

function checkPassword(){
  var pw_message="";
  var pw = document.getElementById("pw").value;

  if(isNaN(pw) || pw.length < 8 || pw.length > 20){
    pw_message="The password should be 8~20 characters long. Please try again.";
  }
  
  if(pw != ""){
    document.getElementById("pwerror").innerHTML = pw_message;
  }
}

function showOrHide(){
  if($("#pw").attr("type")=="password"){
    $("#pw").attr("type", "text");
  }
  else{
    $("#pw").attr("type", "password");
  }  
}

$(document).ready(function(){
  showMain();
  $("#name").keyup(checkName);
  $("#pw").keyup(checkPassword);
  $("#showHide").click(showOrHide);
});

</script>
